:root {
  --primary-clr-red: hsl(0, 100%, 74%);
  --priamry-clr-Green: hsl(154, 59%, 51%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /*create base font size of 10px*/
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem; /*16px*/
  color: #fff;
}

/* REUSABLE COMPONENTS */
.section-cta {
  background-image: url('images/bg-intro-mobile.png');
  background-color: hsl(0, 100%, 74%);
  min-height: 100vh;
  padding: 9.6rem 0 6.4rem 0;
}

.container {
  max-width: 120rem;
  padding: 0 2.4rem;
  margin: 0 auto;
}

.cta {
  border: 1px solid #fff;
  display: grid;
  gap: 6.4rem;
}

.heading--primary {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: -0.29px;
}

/* HELPER CLASSES */
.margin-bottom-sm {
  margin-bottom: 1.6rem;
}

/* HEADER */
.header {
  text-align: center;
  /* outline: 1px solid purple; */
}

/* CTA SECTION */

.btn-cta {
  color: #fff;
  background-color: hsl(248, 32%, 49%);
  border-radius: 11px;
  display: inline-block;
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
  padding: 1.6rem 4.8rem;
  margin-bottom: 1.6rem;
  text-align: center;
  letter-spacing: 0.27px;
  cursor: pointer;
  box-shadow: rgba(116, 116, 116, 0.4) 0px 6px;
}

.cta__text-box {
  outline: 1px solid green;
}
